@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- ======== VARIABLES ======== -- */
:root {
  --primary-color: hsl(336, 70%, 95%);
  --second-color: hsl(222, 39%, 13%);
  --second-color-alt: hsl(222, 58%, 90%);
  --clr-shadow: hsl(347, 100%, 95%);
  --clr-svg: hsla(346, 100%, 95%, 0.5);
  --clr-shadow-alt: hsl(222, 21%, 50%);
  --clr-background: hsl(221, 27%, 15%);
  --clr-background-alt: hsl(222, 39%, 13%);
  --clr-foreground: hsl(203, 34%, 90%);
  --clr-foreground-alt: hsl(214, 43%, 80%);
  --clr-serice-title: hsl(0, 0%, 100%);
  --clr-service-text: hsl(348, 100%, 99%);
}

/* ----- white THEME ----- */
.whitemode {
  --primary-color: hsl(336, 70%, 51%);
  --second-color: hsl(346, 100%, 95%);
  --second-color-alt: var(--second-color);
  --clr-shadow: hsl(347, 100%, 95%);
  --clr-svg: hsla(346, 100%, 95%, 1);
  --clr-shadow-alt: hsla(346, 100%, 95%, 0.5);
  --clr-background: hsl(0, 0%, 100%);
  --clr-background-alt: hsl(347, 100%, 97%);
  --clr-foreground: hsl(203, 30%, 26%);
  --clr-foreground-alt: hsl(214, 43%, 34%);
  --clr-service-bg: hsla(305, 52%, 14%, 0.5);
  --clr-serice-title: var(--clr-background);
  --clr-service-text: var(--clr-background-alt);
}
